.weather {
  background-color: lightblue;
  text-align: center;
  padding: 2%;
  border-style: solid;
  border-color: blue;
  border-width: thin;
}
#form {
  padding: 15px;
}

.forecast {
  /* border-style: solid; */
}